<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="i2r.sg"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/smartmeter" android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps" />
        
        
        <activity android:name=".SmartMeter"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".MeterSelection">
		</activity>
		
		<activity android:name=".ReadMeter">
		</activity>
		
		<activity android:name=".MeterList">
		</activity>
		
		<activity android:name=".ManageLoads">
		</activity>
		
		<activity android:name=".Report">
		</activity>

		<activity android:name=".Prefs">
		</activity>
    <activity android:name=".EditMeter"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />


<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 